/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 03 */

.container {
	width: 100%;
	margin: 0 auto;
}


.header {
	width: 100%;
}

.sidebar {
	float: right;
	/* hint! */
	width: 30%;
}

.main-content {
	/* hint! */
	float: right;
	width: 70%;
}

.footer {
	clear: both;
}

/*
div {
	margin: 20px;
}
*/
/* uncomment me to see if you missed anything! */