/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 12 */

/* To Do List */
.todolist {
	

}

/* Individual Todo */
.todo {

}


/* Priority icon dot */
.icon {
	float: left;
	clear: left;

}

/* Info of the todo, title and date */
.todo-info {
	float: left;
}

.todo-info:after {
	content: "";
	display: block;
}

/* Title */
.todo-title {


}

/* Date */
.todo-date {


}
.check {
	float: right;

}

/* Checkboxes! */
input[type=checkbox] {


	

}
