/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 02 */

.container {
	width: 1024px;
	margin: 0 auto;
}

.header {}

.sidebar {
	float: left;
	width: 30%;
	height: 500px;
}

.main-content {
	float: left;
	width: 70%;
	height: 500px;
}

.footer {
	clear: both;
}
